bin
lib
App.iconset

cocos2d
proj.android
proj.android-studio
proj.linux
proj.tizen
proj.win10
proj.win32

proj.ios_mac/build
proj.ios_mac/ios
proj.ios_mac/mac
proj.ios_mac/MathGameCpp.xcodeproj/project.xcworkspace
proj.ios_mac/MathGameCpp.xcodeproj/xcuserdata

cmake_install.cmake
CMakeFiles
CMakeCache.txt
Makefile
